

/** =======================================================================================================================================================*/
.aboutUs {
    min-height: 50vh;
    display: grid;
    grid-template-areas:
    "us__body"
    "us__map";

    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.aboutUs > .us__body {
    grid-area: us__body;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.aboutUs > .us__map {
    grid-area: us__map;
    display: flex;
    align-items: center; 
    justify-content: center;
}
#map {
    width: 90%; 
    height: 90%; 
    
}
.us__img {
    max-width:50%;
}


.aboutUs div{
    margin: 10px;
}
.aboutUs h1{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.aboutUs p{
    font-size: 0.8rem;
    font-weight: bold;
}

@media ( 600px <=  width) {

    .aboutUs {
        display: grid;
        grid-template-areas: "us__body us__map";
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }
    .aboutUs > .us__body {
        grid-area: us__body;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        text-align: center;
    }
    
    .aboutUs > .us__map {
        grid-area: us__map;
        display: flex;
        align-items: center; 
        justify-content: center;
    }

    .aboutUs h1{
        font-size: 1.8rem;
    }
    .aboutUs p{
        font-size: 1rem;
    }
}
/** =======================================================================================================================================================*/



/** =======================================================================================================================================================*/
/** Desktop Design */

