

/** =======================================================================================================================================================*/

body{
    min-height: 100vh;
}
/** =======================================================================================================================================================*/


.aboutUs{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding: 1rem;
}


section {
    width: 100%; /* Ocupar todo el ancho disponible */
    text-align: center; /* Centrar el contenido dentro de las secciones */
    margin: 10px 0; /* Agregar margen entre las secciones */
}




/** =======================================================================================================================================================*/
/** Desktop Design */

