

/** =======================================================================================================================================================*/

body{
    min-height: 100vh;
}
.clean__noItems {
    width: 50%; 
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    margin-bottom:10px;
}
.back__button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
}

.stats {
    display: flex;
    align-items: center;
    margin: 10px;
}

.stats__flag {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .7);
}

.stats__bar {
    width: 100%;
    height: 27px; 
    background-color: #b3e1c5; 
    display: flex;
    align-items: center;
    margin-left: 1rem;
    border-radius: 4px;
}

.stats__views {
    height: 100%;
    background-color: #545878; 
    border-radius: 4px;

}
.stats__percent {
    text-align: end;
    margin-right: 0.2rem;
    color: rgb(255, 255, 255);
}

.history__title {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* vertical */
    padding: 10px; 
}
.clean__history {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
.recent__country__flag {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas según tus preferencias */
    grid-gap: 10px; /* Espacio entre los elementos */
}

.recent__country__container {
    text-align: center; /* Opcional: centrar el contenido dentro de cada artículo */
}
.recent__country__container img {
    width: 100px; /* Tamaño deseado en píxeles */
    height: auto; /* Esto mantiene la relación de aspecto original */
}
.ads__bottom {
    width: 100%;

    height: 30vh;
    background-image: url("../assets/Travel-Agency-ads1.png");
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

/** =======================================================================================================================================================*/
/** Desktop Design */
@media ( 500px <=  width <= 824px) {
    .recent__country__flag {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas según tus preferencias */
        grid-gap: 10px; /* Espacio entre los elementos */
    }
}
@media ( 824px <=  width <= 1023px) {
    .recent__country__flag {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas según tus preferencias */
        grid-gap: 10px; /* Espacio entre los elementos */
    }
    .recent__country__container img {
        width: 120px; /* Tamaño deseado en píxeles */
        height: auto; /* Esto mantiene la relación de aspecto original */
    }
    
}
/** Desktop Design */

@media ( width  > 1023px) {

}



