

/** =======================================================================================================================================================*/

body{
    min-height: 100vh;
}

.main{
    width: 100%;
    padding: 0.5rem;
}

.clean__noItems {
    width: 50%; 
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    margin-bottom:10px;
}
.back__button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.stats {
    display: flex;
    align-items: space-between;
    margin: 0;
}

.stats__flag {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .7);
}

.stats__bar {
    width: 100%;
    height: 27px; 
    background-color: #b3e1c5; 
    display: flex;
    align-items: center;
    margin-left: 1rem;
    border-radius: 4px;
}

.stats__views {
    height: 100%;
    background-color: #545878; 
    border-radius: 4px;

}
.stats__percent {
    text-align: end;
    margin-right: 0.2rem;
    color: rgb(255, 255, 255);
}

.history__title {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* vertical */
}

.history__title > h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.clean__history {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
.recent__country__flag {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas según tus preferencias */
    grid-gap: .25rem; /* Espacio entre los elementos */
    max-width: 100%;
    overflow: hidden;
}

.recent__country__container {
    text-align: center; /* Opcional: centrar el contenido dentro de cada artículo */
    cursor: pointer;
    overflow: hidden;
}
.recent__country__container > img {
    width: auto; /* Tamaño deseado en píxeles */
    height: 4rem; /* Esto mantiene la relación de aspecto original */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.adversiting{
    display: none
}

.last{
    width: 100%;
    margin-top: 2rem;
}

.last > div{

    width: 100%;
    max-width : 95vw;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.last > div > h2{
    font-size: 1.5rem;
    font-weight: bold;
}




/** =======================================================================================================================================================*/
/** tablet Design */
@media ( 500px <=  width <= 824px) {
    .recent__country__flag {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas según tus preferencias */
        grid-gap: 10px; /* Espacio entre los elementos */
    }

    .adversiting {
        display: block;
        padding: 10px 10px;
    }
    .adversiting__vertical{
        display: none;
    }
    .adversiting__horizontal{
        display: block;
        height: 100%;
        width: 100%;
        
    }
    .recent__country__container > img {
        width: auto; /* Tamaño deseado en píxeles */
        height: 7rem; /* Esto mantiene la relación de aspecto original */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    }
}

@media ( 824px <=  width <= 1023px) {
    .recent__country__flag {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas según tus preferencias */
        grid-gap: 10px; /* Espacio entre los elementos */
    }
    .recent__country__container > img {
        width: auto; /* Tamaño deseado en píxeles */
        height: 7rem; /* Esto mantiene la relación de aspecto original */
    }
    .adversiting {
        display: block;
        padding: 10px 10px;
    }
    .adversiting__vertical{
        display: none;

    }
    .adversiting__horizontal{
        display: block;
        height: 100%;
        width: 100%;
    }

    .last {
        display: grid;
    }

    .last > div {
        min-width: 100%;

    }

}

/** Desktop Design */

@media (1023px < width) {

    .section {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .main {
        width: 100%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    body > header {
        grid-area: head;
    }
    
    body > aside.adversiting{
        grid-area: ads;
        
    }
    
    body > main {
        grid-area: main;
        flex-direction: column-reverse;
    }
    
    body > footer {
        grid-area: footer;
    }

    body{
        display: grid;
        grid-template-areas:  "head head"
                              "main ads"
                              "footer footer";
    
        grid-template-columns: 1fr .3fr;
    }
    .adversiting {
        display: block;
        padding: 10px 10px;
    }
    .adversiting__vertical{
        display: block;
        height: 100%;
        width: 100%;

    }
    
    .adversiting__horizontal{
        display: none
    }

    .recent__country__flag {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas según tus preferencias */
        grid-gap: 10px; /* Espacio entre los elementos */
    }
    .recent__country__container > img {
        width: auto; /* Tamaño deseado en píxeles */
        height: 9rem; /* Esto mantiene la relación de aspecto original */
    }

    .last {
        display: grid;
    }

    .last > div {
        min-width: 100%;

    }

    .clean__noItemsContainer{
        height: 51vh;
    display: flex;
    align-items: center;
    }

}
