

/** =======================================================================================================================================================*/

body{

    display: grid;
    grid-template-areas:  "head" 
                          "main" 
                          "footer";

    grid-template-columns: 1fr;
}

body > header {
    grid-area: head;
}

body > aside.adversiting{
    grid-area: ads;
    
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: footer;
}

/** =======================================================================================================================================================*/

.searcher{
    width: 100%;
   /* background-color: #e3e2e2;*/
    padding: 10px;
}
.search__body {
    display: none;
    transition: all 1s;
}
.search__header{
    padding: .25rem;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}

.searcher__header:focus{
    outline: 2px solid black;
}

.searcher__form {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.searcher__input,
.searcher__select,
.searcher__range {
    border: 1px solid #ccc;
    border-radius: 50px;
    padding-left:20px ;
}

.searcher__input--BorderNone{
    outline: none;
    border: none;
    margin: 0;
    width: 90%;
    
}

.searcher__filters{
    padding: 1rem .1rem;
    overflow-x: scroll;
    max-width: 91.5vw;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.searcher__buttonFilter{
    padding: .5rem;
    width: 8rem;
    height: 8rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .7);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.searcher__buttonFilter > p{
    font-weight: bold;
}

.searcher__filters::-webkit-scrollbar {
    position: relative ;
    height: .75rem; /* Altura de la barra de desplazamiento horizontal */
    border-radius: .5rem;
}

.searcher__filters::-webkit-scrollbar-track {
    background-color: #9e9e9e63; /* Color del fondo del riel */
    border-radius: .5rem;
}

.searcher__filters::-webkit-scrollbar-thumb {
    background-color: #000000; /* Color del pulgar (barra de desplazamiento) */
    border-radius: .5rem;
}

.searcher__img{
    width: 5rem;
    height: 5rem;
}
.searcher__buttonFilter:active {
    background-color: var(--continent-press);
    transform: scale(0.99);
}
.searcher__buttonFilter--selected:active {
    background-color: var(--continent-press);
    transform: scale(0.99);

}
.searcher__buttonFilter--selected {
    background-color: var(--continent);
}
.searcher__buttonFilter--selected > p {
    color: var(--button-text);
    color:var(--button-cancel-press)
}


.searcher__button {
    background-color: transparent;
    width: 10%;
    cursor: pointer;
    border: none;
    height: 100%;
    display: flex;
}

.searcher__label {
    font-weight: bold;
}

.searcher__output {
    font-weight: bold;
    margin-top: 5px;
}


.searcher__info {
    text-align: center;
}
  
.searcher__info-text {
    font-size: 0.9rem;
    font-weight: bold;
    /*color: #ff0000; */
    color:var(--button-ok-press);
}


.searcher__actions {
    text-align: center;
    margin-top: 20px;
}

.searcher__search-button {
    background-color: var(--button-ok);
    color: var(--button-text);
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: transform 0.2s;
}
.searcher__search-button:active {
    background-color: var(--button-ok-press);
    transform: scale(0.99);
}
.searcher__search-button:hover {
    background-color: var(--button-ok-press);
}
.searcher__applied-filters {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    display: flex;
    align-items: start;
    gap: .35rem;
}

.searcher__applied-filters > p {
    background-color: var(--button-cancel);
    border: none;
    color: white;
    font-size: 14px;
    margin-left: 5px;
    padding: .25rem .25rem;
    border-radius: .5rem;
}

.clean-filter{
    cursor: pointer;
    transform: rotate(45deg);  
}

  
.main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    min-height: 40vh;
}

.section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  
    gap: 20px;
    padding: 0 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    justify-self: center;
    width: 100%;
    max-width: 325px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border-radius: 8px;
    transition: transform 0.1s;
    transition: border-radius 0.1s;
    transition: box-shadow 0.1s;
}
.card:hover{
    transform: scale(0.99);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s;
    transition: border-radius 0.1s;
    transition: box-shadow 0.1s;

}

.card__image {
    max-width: 90%;
    max-height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.card:active {
    transform: scale(0.99);
    transition: transform 0.1s;

}

.card__title {
    font-size: 1.5rem;
    margin: 0;
    cursor: pointer;
}

.card__info {
    margin: 0;
    font-size: 1rem;
    color: #888;
}

.card__links{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.card__link {
    font-size: 4rem;
}

.card__link:hover {
    cursor: pointer;
    color: var(--fav);
    
    animation: rotar 5s linear infinite;
}
  
@keyframes rotar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.card__link__selected {
    color: var(--fav);
    cursor: pointer;
}

.adversiting{
    display: none;
}

.toggle-searcher {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.25rem;
    
}

.search__body {
    display: block;
    height: auto;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.search__body.show {
    opacity: 1;
    max-height: 1000px; 
    transition: all .5s ease;
    overflow: hidden;
}

.toggle-searcher i {
    font-size: 2rem;
    transition: transform 0.3s;
    cursor: pointer; 
}

.rotated {
    transform: rotate(180deg);
}

.no-results-container{
    height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95vw
}
.no-results-container > p{
    font-size: 1.25rem;
}

/** =======================================================================================================================================================*/
/** Desktop Design */
@media ( 480px <=  width <= 1023px) {


    .no-results-container > p{
        font-size: 1.5rem;
    }
    
    body{

        display: grid;
        grid-template-areas:  "head" 
                              "main"
                              "ads" 
                              "footer";
    
        grid-template-columns: 1fr;
    }
    .searcher{
        padding: 20px 2rem;
    }
    .searcher__filters{
        width: 100%;
    }
    
    .adversiting{
        padding: 0 20px 20px;
        display: block;
        max-height: 250px;
        max-width: 100vw;
    }

    .adversiting > .adversiting__vertical{
        display: none
    }

    .adversiting > .adversiting__horizontal{
        display: block;
        max-height: 100%;
        width: 100%;
    }
}

/** Desktop Design */

@media ( width  > 1023px) {

    body{
        max-width: 100vw;
        display: grid;
        grid-template-areas:
                            "head head head head head head"
                            "main main main main main ads"
                            "footer footer footer footer footer footer";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto 1fr auto; 
        min-height: 100vh; 
        margin: 0; 
        padding: 0; 
    }
    
    #loader-container{
        position: absolute;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7)
    }

    .main > .searcher {
        grid-area: search;
        height: 100%;
    }

    .main > .section {
        grid-area: section;
        padding : 10px;
        justify-content: center;
        align-self: start;
    }

    .main > #paginator {
        grid-area: paginator;
        display: flex;
        align-self: center;
        justify-self: center;
        margin: 0 auto;
    }
    

    .main{
        display: grid;
        grid-template-areas: "search section"
                             "search section"
                             "search section"
                             "search paginator";
        grid-template-columns: .25fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr .25fr;
        justify-items: center;
        align-items: space-between;                     
    }

    #paginator {
        grid-area: paginator;
        display: flex;
        align-items: center; /* Centra verticalmente con respecto a la fila */
        justify-content: center; /* Centra horizontalmente con respecto a la fila */
      }

    .card__image{
        max-width: 90%;
        max-height: 100px;
    }

    .adversiting{
        display: flex;
        padding: 10px;
        height: 100%;
        padding-right: 0;
        align-items: start;
    }

    .adversiting > .adversiting__vertical{
        display: flex;
        position: sticky;
        top: 16%;
        max-width: 15.5vw;
        height: 83vh;
        align-self: self-start;
    }
    .adversiting > .adversiting__horizontal{
        display: none
    }

    .searcher__filters{
        max-width: 20vw;
    }

    .toggle-searcher i {
        display: none;
    }

    .search__body {
        display: block;
        max-height: 1000px;
        opacity: 1;
    }

    .searcher__info-text {

        margin-left: 1rem;
    }

    .no-results-container {
        width: 60vw;
        margin: 0 auto;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .no-results-container > p{
        font-size: 2rem;
    }
    
}

