@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* Defino variables */
:root {
    --color-negro: #272525;
    --color-blanco: #F2F2F2;
    --color-blanco-azulado: #E6E6FA;
    --color-grey: #5b5757;
    --color-ok: #C5E1A5;
    --color-blu: #c8daf4;
    --color-shadow: #cbcbcc;

    --header-title: var(--color-negro);
    --nav-icons:var(--color-negro);

    --body-background:var(--color-blanco);
    --nav-icons-hover: var(--color-blanco);

    --footer:var(--color-blanco-azulado);
    --nav-counter:var(--color-blanco-azulado);

    --color-font: var(--color-grey);
    --success: var(--color-ok);
}

/** =======================================================================================================================================================*/
/*#region MOBILE FIRST*/

*{
    box-sizing: border-box;
    margin:0;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:var(--color-font);
}


/*#region HEADER*/
.header {
    background-color: var(--color-blanco-azulado);
    color: #fff;
    padding: 10px;
    text-align: center;
    min-height: 50px;
    height: 15vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header__nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo{
    display: flex;
    gap: 1rem;
}

.header__navList{
    list-style: none;
    display: flex;
    gap: .7rem;
    
    
}



.header__Navlink{
    text-decoration: none;
}

.header__Navlink > p{
    display: none;
}

.header__navList li a button {
    font-size: 0px;
    border:none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
/*    display: flex;
    align-items: center;*/
}

.header__navItem i.material-icons{
    font-size: 2rem;
}

.header__navItem--selected i.material-icons{
    color: black;
}

.header__navItem--selected p{
    font-weight: bold;
    color: black;
}

/*#endregion HEADER*/
/**=======================================================================================================================================================*/
/*#region FOOTER*/
.footer{
    background-color: var(--color-blanco-azulado);
    display: grid;
    grid-template-areas:    
    "footer__body" 
    "footer__footer"
    ;
    grid-template-rows: 4fr 0.7fr; /*sino queda espacio debajo*/
    place-items:center; 
}
.footer > .footer__body {
    grid-area: footer__body;
    display: grid;
    grid-template-areas:  "footer__aboutUs" 
    "footer__site"
    "footer__network"
    "footer__logo"
    ;
    grid-template-rows: repeat(2, 2fr 1fr);
    place-items:center; 
}
.footer__body > .footer__aboutUs {
    grid-area: footer__aboutUs;
    margin: 15px;
    text-align: justify;
}
.footer__body > .footer__site {
    grid-area: footer__site;
    letter-spacing: 2px;
}
.footer__body > .footer__logo {
    grid-area: footer__logo;
    display: flex;
}
.footer > .footer__footer {
    background-color:#272525;
    display: grid;
    grid-template-columns: 1fr;
    place-items:center; 
    width: 100%;
    color:white;
}
/*#endregion FOOTER*/
/*#endregion MOBILE*/

/** =======================================================================================================================================================*/
/*#region MOBILE HORIZONTAL*/
@media (510px <= width ) { /*480px <=width< 768px*/
    .header__logo h1 {
        font-size: 1rem;
    }
    .header__navList li a button {
        font-size: 16px;
        letter-spacing: 0px;
        font-size: 1rem;
    }

    .header__Navlink > p{
        display: block ;
    }
}
/*#endregion*/

/** =======================================================================================================================================================*/
/*#region TABLET*/
@media (768px <= width) { /* < 1024px*/
    .header__Navlink > p{
        display: block ;
    }

}
/*#endregion*/

/** =======================================================================================================================================================*/
/*#region TABLET HORIZONTAL o DESKTOP*/
@media (width >= 1024px) {
    /*#region FOOTER*/
    .footer{
        grid-template-rows: 1fr;
    }
    .footer > .footer__body {
        padding: 30px;
        display: grid;
        grid-template-areas:  
        "footer__aboutUs footer__site footer__site footer__network "
        "footer__aboutUs footer__site footer__site footer__logo"
        ;
        grid-template-rows: none;
        grid-template-columns: repeat(4, 1fr);
        /*align-items: self-end;*/
    }  

    .header__Navlink > p{
        display: block ;
    }
    
    
    /*#endregion FOOTER*/
}

/*#endregion*/