@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* Defino variables */
:root {
    --color-negro: #272525;
    --color-blanco: #F2F2F2;
    --color-blanco-azulado: #E6E6FA;
    --color-grey: #5b5757;
    --color-ok: #C5E1A5;
    --color-blu: #c8daf4;
    --color-shadow: #cbcbcc;

    --header-title: var(--color-negro);
    --nav-icons:var(--color-negro);

    --body-background:var(--color-blanco);
    --nav-icons-hover: var(--color-blanco);

    --footer:var(--color-blanco-azulado);
    --nav-counter:var(--color-blanco-azulado);

    --color-font: var(--color-grey);
    --success: var(--color-ok);
}


*{
    box-sizing: border-box;
    margin:0;
    font-size: 16px;
    
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:var(--color-font);
}

.header {
    background-color: var(--color-blu);
    color: #fff;
    padding: 10px;
    text-align: center;
    min-height: 50px;
    height: 10vh;
    display: flex;
    align-items: center;
}

.header__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.header__navList {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}


.header__navItem {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    
}

.header__navItem--selected i.material-icons{
    font-size: 30px;
    color: black;
}



.footer{
    background-color: var(--color-blu);
} 

.footer__body {
    display: flex;
    justify-content: center;
    gap: 0;
    
}

.footer__hour,
.footer__contact,
.footer__icons {
    flex: 1;
    padding: 20px;
}

.footer__title {
    font-size: 18px;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__item {
    margin-bottom: 5px;
}

.footer__link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #0077FF; 
}


.footer__icon {
    font-size: 24px;
    margin-right: 10px;
    color: #0077FF; 
}

.footer__footer {
    text-align: center;
}

.footer__text {
    font-size: 14px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
}


#aside_search {
    background-color: #f0f0f0;
    padding: 20px;
}


#all {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 1rem;
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card__image {
    height: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card__title {
    font-size: 1.5rem;
    margin: 0;
}

.card__info {
    margin: 0;
    font-size: 1rem;
    color: #888;
}

.card__links{
    display: flex;
}

.card__link {
    text-decoration: none;
    color: #333;
    font-size: 1.25rem;
    margin: 5px;
    transition: color 0.3s ease-in-out;
}

.card__link i:hover {
    color: #ff7011;
}
