/** =======================================================================================================================================================*/


.share {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


#detailCountry{
    width: 100%;
    max-width: 100%;
}

.card {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    padding: 1rem;
}

.card__image {
    max-width: 90%;
    max-height: 170px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.card__title {
    font-size: 1.5rem;
    margin: 0;
}

.card__info {
    margin: 0;
    font-size: 1rem;
    color: #888;
}

.card__links{
    display: none;

}

.share{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#share{
    width: 100%;
}
.share-header {
    margin-bottom: 10px;
    display: flex;
    align-items: stretch;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.share-header .country__flag .country__img{
    max-width:30%;
    max-height:30%;
}

.email-form {
    width: 75%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.email-form__form {
    display: flex;
    flex-direction: column;
}

.email-form__field {
    margin-bottom: 15px;
}

.email-form__label {
    font-weight: bold;
    margin-bottom: 5px;
}

.email-form__input,
.email-form__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.email-form__submit {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.disabled {
    background-color: grey
}
.disabled:active {
    background-color: grey
}
.disabled:hover {
    cursor: auto;
}

.country__coat{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.country__coat > img{
    max-width: 300px;
    max-height: 300px;
}

.info-text{
    color: rgb(255, 0, 0);
    height: 1.5ch;
    margin-bottom: .7rem;
}

.adversiting{
    display: none;
}

.card__continent{
    display: none;
}

@media ( 480px <=  width <= 1023px) {

    body > header {
        grid-area: head;
    }
    
    body > aside.adversiting{
        grid-area: ads;
        
    }
    
    body > main.share {
        grid-area: main;
        display: flex;
        flex-direction: row;

    }

    #detailCountry {
        height: 100%;
        
    }

    .card{
        height: 100%;
        align-items: center;
        max-height: 500px;
        max-width: 100%;
    } 
    
    #share{
        width: 100%;
        height: 100%;
    }

    #form__share{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 500px;
        width: 100%;
    }

    .email-form__field {
        margin-bottom: 0;
    }

    .card__continent{
        display: block;
    }

    .card__continent > img{
        width: 100%;
        max-width: 230px;
    }
    
    body > footer {
        grid-area: footer;
    }

    body{
        display: grid;
        grid-template-areas:  "head"
                              "main"
                              "ads" 
                              "footer";
    
        grid-template-columns: 1fr;
    }

    .adversiting{
        
        padding: 0 20px 20px;
        display: block;
    }

    .adversiting > .adversiting__vertical{
        display: none
    }

    .adversiting > .adversiting__horizontal{
        display: block;
        height: 100%;
        width: 100%;
    }
}
/** =======================================================================================================================================================*/


@media (  1023px < width <= 1200px) {

    body > header {
        grid-area: head;
    }
    
    body > aside.adversiting{
        grid-area: ads;
        
    }
    
    body > main {
        grid-area: main;
    }

    #detailCountry{
        width: 60%;
    }

    #share{
        width: 60%;
    }
    
    body > footer {
        grid-area: footer;
    }

    body{
        display: grid;
        grid-template-areas:  "head head"
                              "main ads"
                              "footer footer";
    
        grid-template-columns: 1fr;
    }

    .adversiting{
        
        padding: 20px 20px;
        display: block;
    }

    .main{
        display: flex;
        justify-content: space-between;
    }

    #loader-container {
        height: 100%;
    }

    .adversiting > .adversiting__vertical{
        display: block;
        position: sticky;
        top: 16%;

    }

    .adversiting > .adversiting__horizontal{
        display: none;
    }
}


@media (  1200px < width) {
    
    body > header {
        grid-area: head;
    }
    
    body > aside.adversiting{
        grid-area: ads;
        
    }
    
    body > main {
        grid-area: main;
    }
    
    body > footer {
        grid-area: footer;
    }

    body{
        display: grid;
        grid-template-areas:  "head head"
                              "main ads"
                              "footer footer";
    
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto auto;
/*        min-height: 100vh;        */
    }

    .adversiting {
        padding: 20px 20px;
        display: flex;
        height: 575px;
        width: auto;
        justify-self: end;
    }

    .share {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        /* max-height: 60vh; */
        align-self: start;
        /* justify-content: center; */
        /* height: 60vh; */
        align-items: center;
        align-content: center;
        justify-content: end;
        justify-content: right;
        gap: 3vw;
        padding-right: 3rem;;
    }
    

    #loader-container {
        height: 100%;
        width: 100%;
    }


    .adversiting > .adversiting__vertical{
        display: block;
        top: 16%;
        display: block;
        
        /*
        max-height: 500px;
        width: auto;
        */
    }

    .adversiting > .adversiting__horizontal{
        display: none;
    }

    #share {
        /* height: 100%; */
        max-width: 500px;
    }
    
    #form__share {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.2rem;
    }

    .card {
        height: auto;
        margin-bottom: 20px;
        height: 100%;
    }
    
    #detailCountry {
        height: 500px;
        max-width: 500px;
    }
    .card__continent{
        display: block;
    }

    .card__continent > img{
        width: 100%;
        max-width: 190px;
    }
    .email-form__field {
        margin-bottom: 0;
    }
    section {
        padding-left: 20px;
    }

}